# Solite Jupyter Notebook Example

In [3]:
-- .open tmp.db
-- .param set name Alex
.param set age 10
.param set name Alex

paramter defined

In [2]:
select :name;

┌───────┐
│ :name │
├───────┤
│ Alex  │
└───────┘

In [ ]:
select 'first';
select 'second';

In [ ]:
select 1 + 4;

In [ ]:
selec 'not work';

In [ ]:
select usleep(199);

In [ ]:
select json_group_array(value) from generate_series(1, 10);

In [ ]:
select json_group_object(value, value) from generate_series(1, 10);

In [ ]:
select '<script>alert("pwned")</script>';

In [ ]:
select * from pragma_function_list order by name limit 10;

In [ ]:
select * from json_tree('{
  "a": [1,2,3],
  "b": {"c": "d"}
}')

In [ ]:
--select * from json_tree('{')

In [ ]:
select 1;
select 2;

In [ ]:
select substr();

In [ ]:
drop table if exists t;
create table t(a,b,c);
insert into t
  select
    value,
    value,
    random() % 100
  from json_each('[99,88,77,66,55]')
  returning rowid, *;

In [ ]:
insert into t select value, value, value from json_each('[99,88,77,66,55]')
  --returning rowid, *

In [ ]:
select count(*) from t;

In [ ]:
select *, random() from generate_series(1,min(6,101));

In [ ]:
select * from sqlite_master;

## XSV playing

In [ ]:
drop table if exists t;
create table t(a);
insert into t values (1), (2), (3);
select * from t;

In [ ]:
select *
from "latimes-place-totals.csv"
limit 10;

In [ ]:
select *
from "latimes-place-totals.csv"
order by confirmed_cases desc
limit 10;

In [3]:
select count(*) from "latimes-place-totals.csv"

┌──────────┐
│ count(*) │
├──────────┤
│  1311292 │
└──────────┘

In [ ]:
select * from temp.sqlite_master;

In [2]:
.timer on

Unsupported: The .timer command is not supported in Jupyter.

In [2]:
.open ../tmp.db
select * from pragma_table_list;

┌────────┬────────────────────┬───────┬──────┬────┬────────┐
│ schema │ name               │ type  │ ncol │ wr │ strict │
├────────┼────────────────────┼───────┼──────┼────┼────────┤
│ main   │ t                  │ table │    1 │  0 │      0 │
│ main   │ sqlite_schema      │ table │    5 │  0 │      0 │
│ temp   │ sqlite_temp_schema │ table │    5 │  0 │      0 │
└────────┴────────────────────┴───────┴──────┴────┴────────┘